HOST='localhost'
ROLE_NAME='postgres'
DB='auth'
ROLE_PSW='postgres'
PORT=3000
DB_PORT=5432
# use 'true' to use SSL in the pool config
SSL='false'
VIP_HINT='Put a riddle here'
VIP_PASSCODE='a riddle here'
ADMIN_PSW ='1234'