<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <%- include("partials/header.ejs")%>
    <main>
      <div class="container">
        <span class="container-header"><h2>Sign Up</h2></span>
        <form action="/signup" method="POST">
          <span class="form-row">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" />
          </span>
          <span class="form-row">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" />
          </span>
          <span class="form-row">
            <label for="confirmPassword">Confirm password</label>
            <input id="confirmPassword" name="confirmPassword" type="password" />
          </span>
          <%- include("partials/error.ejs") %>
          <button type="submit" class="btn--secondary">Submit</button>
        </form>
      </div>
    </main>
</body>

</html>